@tailwind base;
@tailwind components;
@tailwind utilities;



body {
background-color: #f5f5f5;
}

#menu-instructor{
    z-index: 99999999999999999999999999999999999999999999;
}

#menu-course{
    z-index: 99999999999999999999999999999999;
}